h1 {
    color: #6ABFF3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2 {
    color: #F36ACC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: black;
  }